#my-navbar {
  margin: 0 00px;
}

@media screen and (max-width: 768px) {
  .my-custom-navbar .navbar-nav {
    flex-direction: column !important;
  }

  .my-custom-navbar .navbar-nav .nav-link {
    padding: .5rem !important;
  }
}
